* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}
h1 {
  color: #f6921e;
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
}
aside h4 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
p {
  line-height: 1.5;
  font-size: 22px;
}
li {
  font-style: 20px;
  line-height: 1.5;
}
footer {
  margin-bottom: 25px;
}
footer p {
  font-size: 12px;
}
header p {
  font-style: italic;
}
ul.related-posts {
  list-style: none;
}
/* .first-li {
  font-weight: bold;
} */
li {
  margin-bottom: 5px;
}
.related-posts {
  border-top: 5px solid #1098ad;
  border-left: 5px solid #1098ad;
}
header {
  background-color: aqua;
  border: 10px solid #1098ad;
  padding: 10px;
  margin: 10px 0 10px 0;
}
a:link {
  text-decoration: none;
  color: #1098ad;
}
a:visited {
  color: #1098ad;
}
a:hover {
  color: orangered;
}
a:active {
  background-color: black;
}
header a:link {
  color: white;
  text-transform: uppercase;
}
header a:visited {
  color: white;
}
/* Resolving Conflicts */
#copyright {
  color: red;
}
.copyright {
  columns: blue;
}
.text {
  color: yellow;
}
footer p {
  color: green !important;
  text-align: center;
}

/* Margin Padding */
article ul,
article ol {
  margin-left: 50px;
}
h1,
h2,
h3,
h4 {
  margin-bottom: 10px;
}
aside h4 {
  margin-top: 10px;
}
aside {
  margin-left: 10px;
  margin-right: 10px;
}
article:article-header {
  margin-bottom: 25px;
}
.img2 {
  margin-bottom: 25px;
}
p {
  margin-bottom: 2px;
}
header a:link {
  margin-left: 30px;
  margin-top: 10px;
  display: inline-block;
}
header a:link:first-child {
  margin-left: 0;
  margin-top: 10px;
  display: inline-block;
}
.button {
  padding: 20px;
  cursor: pointer;
  font-size: 22px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  /* color: red; */
  border-radius: 70%;
  width: 100px;
  height: 100px;
  border-color: transparent;
  background-color: #1098ad;
}
.button::first-letter {
  color: red;
  font-size: 30px;
}
